[run]
source = repeatdesign
omit = 
  */modeller/*
  */numpy/*
  */Bio/*
  *xml*
  *ctypes*
  *bisect*       
  *commands*
  *encodings*
  *gzip* 
  *httplib*
  *mimetools*
  *numbers* 
  *rfc822*        
  *sqlite3*
  *urllib2*
[report]
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
